<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Personal Portfolio - About</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="about">
            <div class="container">
                <nav>
                    <img src="https://i.pinimg.com/474x/b4/d2/0e/b4d20e0dfeeb1b16093940f60787e756--calligraphy-chris-delia.jpg" class="logo">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="sign-in.html">Sign-in</a></li>
                        <li><a href="sign-up.html">Sign-up</a></li>
                    </ul>
                </nav>
            <div class="row">
                <div class="about-col-1">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Elon_Musk_Royal_Society_%28crop2%29.jpg/1200px-Elon_Musk_Royal_Society_%28crop2%29.jpg">
                </div>
                <div class="about-col-2">
                    <h1 class="title">About Me</h1>
                    <p class="sub-title">Hi there! My name is Chris Bui and I am a student of University of Idaho. With three years, I have gained a wealth of knowledge and expertise in Computer Science. I am passionate about computer and technology and strive to make a difference in the world through my work.<br><br>
                        I believe that everything happens for a reason. My goal is to become a good Computer Scientist. To achieve this, I am constantly learning and exploring new ideas, as well as collaborating with others in the field.<br><br>
                        In my free time, I enjoy coding. I am also an avid game player.<br><br>
                        If you would like to learn more about my work or have any questions, please feel free to reach out to me. I would love to connect and hear from you.<br><br>
                        Thank you for visiting my website.</p>
                </div>
            </div>
   
            </div>
            <div id="footer">
                <p>  Copyright&copy; 2023&nbsp;uidaho.edu&nbsp;All Rights Reserved &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{% url 'privacy' %}">Terms and Conditions</a>
                    <a href="{% url 'privacy' %}">Privacy policy</a>
                    <a href="{% url 'privacy' %}">Cookie policy</a>
                </p>
            </div>
    
        </div>
    </body>
    
</html>